In [1]:
import requests
import json
import pandas as pd
import numpy as np
from pathlib import Path
import os
from dotenv import load_dotenv
import matplotlib.pyplot as plt
from pprint import pprint
import csv

In [4]:
# Reading in the 2021 and 2020 fantasy football data for running backs 
fantasy_football_2021 = pd.read_csv(
    "./csv_files/TE_Stats_2021.csv"
)

fantasy_football_2020 = pd.read_csv(
    "./csv_files/TE_Stats_2020.csv"
)
# Displaying the first 5 rows of the two dataframe 
display(fantasy_football_2021.head())
display(fantasy_football_2020.head())

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,ROST
0,1.0,Tyler Higbee (LAR),5.0,11.0,39.0,7.8,11.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.9,3.9,53.2%
1,2.0,Dawson Knox (BUF),1.0,2.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5,0.5,92.3%
2,3.0,Giovanni Ricci (CAR),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0%
3,4.0,Tyler Davis (GB),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0%
4,5.0,Reggie Gilliam (BUF),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0%

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,ROST
0,1.0,Travis Kelce (KC),105.0,145.0,"1,416",13.5,45.0,29.0,11.0,0.0,0.0,0.0,1.0,15.0,207.8,13.9,100.0%
1,2.0,Darren Waller (LV),107.0,145.0,"1,196",11.2,38.0,19.0,9.0,0.0,0.0,0.0,2.0,16.0,171.6,10.7,99.7%
2,3.0,Robert Tonyan (GB),52.0,59.0,586,11.3,45.0,13.0,11.0,0.0,0.0,0.0,0.0,16.0,124.6,7.8,23.3%
3,4.0,Mark Andrews (BAL),58.0,88.0,701,12.1,39.0,13.0,7.0,0.0,0.0,0.0,0.0,14.0,112.1,8.0,100.0%
4,5.0,T.J. Hockenson (DET),67.0,101.0,723,10.8,51.0,10.0,6.0,1.0,0.0,0.0,1.0,16.0,108.3,6.8,96.8%

In [5]:
# Reorganizing the dataframes to display FPTS and FPTS/G
fantasy_points_2021 = fantasy_football_2021[["Player", "FPTS", "FPTS/G"]].dropna()

fantasy_points_2020 = fantasy_football_2020[["Player", "FPTS", "FPTS/G"]].dropna()

display(fantasy_points_2021.head())
display(fantasy_points_2020.head())

                 Player  FPTS  FPTS/G
0    Tyler Higbee (LAR)   3.9     3.9
1     Dawson Knox (BUF)   0.5     0.5
2  Giovanni Ricci (CAR)   0.0     0.0
3      Tyler Davis (GB)   0.0     0.0
4  Reggie Gilliam (BUF)   0.0     0.0

                 Player   FPTS  FPTS/G
0     Travis Kelce (KC)  207.8    13.9
1    Darren Waller (LV)  171.6    10.7
2    Robert Tonyan (GB)  124.6     7.8
3    Mark Andrews (BAL)  112.1     8.0
4  T.J. Hockenson (DET)  108.3     6.8