In [1]:
import requests
import json
import pandas as pd
import numpy as np
from pathlib import Path
import os
from dotenv import load_dotenv
import matplotlib.pyplot as plt
from pprint import pprint
import csv

In [2]:
# Reading in the 2021 and 2020 fantasy football data for running backs 
fantasy_football_2021 = pd.read_csv(
    "FantasyPros_Fantasy_Football_Statistics_RB.csv"
)

fantasy_football_2020 = pd.read_csv(
    "FantasyPros_2020.csv"
)
# Displaying the first 5 rows of the two dataframe 
display(fantasy_football_2021.head())
display(fantasy_football_2020.head())

,Rank,Player,ATT,YDS,Y/A,LG,20+,TD,REC,TGT,YDS.1,Y/R,TD.1,FL,G,FPTS,FPTS/G,ROST
0,1.0,Jonathan Taylor (IND),332.0,"1,811",5.5,83.0,30.0,18.0,40.0,51.0,360.0,9.0,2.0,2.0,17.0,333.1,19.6,100.0%
1,2.0,Austin Ekeler (LAC),206.0,911,4.4,28.0,3.0,12.0,70.0,94.0,647.0,9.2,8.0,3.0,16.0,273.8,17.1,100.0%
2,3.0,Joe Mixon (CIN),292.0,"1,205",4.1,32.0,7.0,13.0,42.0,48.0,314.0,7.5,3.0,1.0,16.0,245.9,15.4,100.0%
3,4.0,Najee Harris (PIT),307.0,"1,200",3.9,37.0,8.0,7.0,74.0,94.0,467.0,6.3,3.0,0.0,17.0,226.7,13.3,100.0%
4,5.0,James Conner (ARI),202.0,752,3.7,35.0,4.0,15.0,37.0,39.0,375.0,10.1,3.0,0.0,15.0,220.7,14.7,99.3%

,Rank,Player,ATT,YDS,Y/A,LG,20+,TD,REC,TGT,YDS.1,Y/R,TD.1,FL,G,FPTS,FPTS/G,ROST
0,1.0,Derrick Henry (TEN),378.0,"2,027",5.4,94.0,30.0,17.0,19.0,31.0,114.0,6.0,0.0,2.0,16.0,314.1,19.6,100.0%
1,2.0,Alvin Kamara (NO),187.0,932,5.0,49.0,13.0,16.0,83.0,107.0,756.0,9.1,5.0,0.0,15.0,294.8,19.7,100.0%
2,3.0,Dalvin Cook (MIN),312.0,"1,557",5.0,70.0,12.0,16.0,44.0,54.0,361.0,8.2,1.0,3.0,14.0,293.8,21.0,100.0%
3,4.0,Jonathan Taylor (IND),232.0,"1,169",5.0,62.0,15.0,11.0,36.0,40.0,299.0,8.3,1.0,1.0,15.0,216.8,14.5,100.0%
4,5.0,Aaron Jones (GB),201.0,"1,104",5.5,77.0,17.0,9.0,47.0,63.0,355.0,7.6,2.0,0.0,14.0,211.9,15.1,99.9%

In [3]:
# Reorganizing the dataframes to display FPTS and FPTS/G
fantasy_points_2021 = fantasy_football_2021[["Player", "FPTS", "FPTS/G"]].dropna()

fantasy_points_2020 = fantasy_football_2020[["Player", "FPTS", "FPTS/G"]].dropna()

display(fantasy_points_2021.head())
display(fantasy_points_2020.head())

                  Player   FPTS  FPTS/G
0  Jonathan Taylor (IND)  333.1    19.6
1    Austin Ekeler (LAC)  273.8    17.1
2        Joe Mixon (CIN)  245.9    15.4
3     Najee Harris (PIT)  226.7    13.3
4     James Conner (ARI)  220.7    14.7

                  Player   FPTS  FPTS/G
0    Derrick Henry (TEN)  314.1    19.6
1      Alvin Kamara (NO)  294.8    19.7
2      Dalvin Cook (MIN)  293.8    21.0
3  Jonathan Taylor (IND)  216.8    14.5
4       Aaron Jones (GB)  211.9    15.1